* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    border: 1px solid black;
    width: 50%;
}

header {
    background-color: #0000cc;
}

#sfondo_logo {
    background-image: url('./img/pattern.png');
    background-size: contain;
    height: 100px;
    padding-top: 50px;

}

#logo {
    width: 20%;
}

h1 {
    font-size: 2.2em;
}

.sottotitolo {
    font-size: 1em;
    font-weight: bold;
    color: gray;
}

a {
    color: rgb(0, 174, 255);
}

.tim {
    height: 330px;
}

#desc-foto {
    font-size: 0.9em;
    padding-bottom: 20px;
}

.testo {
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 20px;
}

#tabella {
    width: 100%;
    padding-bottom: 20px;
}

td {
    width: 30%;
}

.pari {
    background-color: lightblue;
}

thead {
    background-color: #0000cc;
    color: white;
}

#monitor {
    background-image: url('img/monitor.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

ocontain