* {
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    /* width: 50%; */
    height: 100vh;
}

header {
    background-color: #0000cc;
}

#sfondo_logo {
    background-image: url('./img/pattern.png');
    background-size: contain;

}

#logo {
    width: 20%;

}